/*
#########################################
Bei :Root könnt ihr alle Farben anpassen
#########################################
*/
:root {
  --scrollbar-thumb-bg: #258fe2;
  --app-color: #fff;
  --app-bg: #282a2c;
  --title-bg: #258fe2;
  --title-hover-bg: #f00;
  --categories-bg: #44474a;
  --category-bg: #595d61;
  --category-hover-bg: #258fe2;
  --location-container-bg: #44474a;
  --location-hr-bg: #595d61;
  --location-bg: #595d61;
  --location-hover-bg: #258fe2;
  --location-hover-color: #fff;
  --search-color: #fff;
  --search-bg: #595d61;
  --placeholder-color: #fff;
}

body {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--scrollbar-thumb-bg);
}

#app {
  color: var(--app-color);
  background: var(--app-bg);
  font-family: "Raleway", sans-serif;
  width: 1200px;
  height: 700px;
  margin: 15vh auto;
  opacity: 0.95;
}

.title {
  width: 100%;
  height: 40px;
  background: var(--title-bg);
}

.title span {
  display: block;
  padding-top: 4px;
  font-size: 25px;
  text-align: center;
}

.title a {
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  float: right;
  transition: all 0.2s ease;
}

.title a:hover {
  background: var(--title-hover-bg);
}

.categories {
  float: left;
  width: 200px;
  height: 94%;
  background: var(--categories-bg);
  overflow-y: scroll;
}

.category {
  display: inline-grid;
  width: 128px;
  height: 128px;
  background: var(--category-bg);
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  margin-left: 40px;
  transition: all 0.15s ease;
}

.category:last-child {
  margin-bottom: 25px;
}

.category:hover {
  background: var(--category-hover-bg);
  transform: scale(1.1);
  cursor: pointer;
}

.category img {
  width: 64px;
  height: 64px;
  margin: 20% 0 0 25%;
}

.locas {
  margin-left: 200px;
  padding: 15px;
  height: 88%;
  overflow-y: scroll;
}

.locas .container {
  background: var(--location-container-bg);
}

.locas hr {
  border: 0;
  margin: 0;
  position: initial;
  line-height: 40px;
  height: 40px;
  background: var(--location-hr-bg);
}

.loca {
  display: inline-grid;
  height: 120px;
  background: var(--location-bg);
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  text-transform: capitalize;
  margin: 14px;
  transition: 0.15s all ease-in-out;
}

.loca:hover {
  color: transparent;
  background: var(--location-hover-bg);
  transform: scale(1.1);
}

.loca:hover::after {
  color: var(--location-hover-color);
  margin-top: -20px;
  content: "Teleport";
}

.loca:active {
  transform: scale(1);
}

.loca img {
  width: 164px;
  height: 91px;
}

.locas hr::after {
  content: attr(data-content);
  margin-left: 10px;
  font-size: 30px;
}

.search {
  padding: 15px;
}

.search input {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  width: 96.5%;
  padding: 15px;
  border: 0;
  color: var(--search-color);
  background: var(--search-bg);
  border-radius: 10px;
  opacity: 0.5;
  outline: none;
}

.search input:focus {
  opacity: 1;
  transition: 0.15s all ease-in-out;
  cursor: text;
}

.search input::placeholder {
  color: var(--placeholder-color);
  cursor: text;
}

.search input:hover {
  cursor: text;
}

@media (max-width: 1440px) {
  #app {
    margin: 5vh auto;
    transform: scale(0.75);
  }
}

@media (max-width: 1024px) {
  #app {
    transform: scale(0.6);
    margin: 0 0 0 -10%;
  }
}
